/* mall page.css*/
    body{
    }

    /* BLINKING */
    @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

/* NAVIGATION */
.homebutton{
  all: initial;
  width:calc(120px);
  height:auto;
  position: fixed;
  top:10px;
  left:10px;
  z-index: 2;
  filter: saturate(500%);
  filter:drop-shadow(5px 5px);
}

.backbutton{
  width:auto;
  height:auto;
  position: fixed;
  bottom:10px;
  left:10px;
  z-index: 2;
    filter: saturate(500%);
    font-family:"Arial Black";
    text-transform: uppercase;
    letter-spacing: -.01em;
    font-size: 30px;
    line-height: 16px;
    background-color: yellow;
    padding:5px;
    filter:drop-shadow(5px 5px);
    border: 1px solid black;
}
  .nextbutton{
  width:auto;
  height:auto;
  position: fixed;
  bottom:10px;
  right:10px;
  z-index: 2;
    filter: saturate(500%);
    font-family:"Arial Black";
    text-transform: uppercase;
    letter-spacing: -.01em;
    font-size: 30px;
    line-height: 16px;
    background-color: yellow;
    padding:5px;
    filter:drop-shadow(5px 5px);
    border: 1px solid black;

}

.homebutton:hover{
  animation: blink 0.1s infinite;
}

.backbutton:hover{
  animation: blink 0.1s infinite;
}

.nextbutton:hover{
  animation: blink 0.1s infinite;
}

    /* HEADER */
     h1 {
      font-family:"Apple Chancery";
      font-size: clamp(1em, 6vw, 6em);
      font-weight:3pt;
      transform: rotate(4deg);
      display:block;
      line-height: 1em;
      letter-spacing: .05em;
      text-align: center;
      max-width:100%;
      margin-left:20vw;
      margin-right:20vw;
      text-transform: uppercase;
      color:rgb(0,255,255);
      border: .25vw dashed rgb(0,255,255);
      background-color: purple;
    }

    h1:hover{
    animation: blink 0.1s infinite;
    }

  /* BANNER ADS */
  .bannerad{
    padding:5vh;
    margin:auto;
    max-width: 728px;
    max-height: 90px;
    overflow: hidden;
    display:flex;
  }

  .bannerad img {
    width: 100%; 
    object-position: center;
    filter: saturate(200%); 
  }

 /* SKYSCRAPER ADS */
  .bodycontainer{
    display:flex;
    justify-content: space-between;
  }
  }
  .skyscraperads {
    display: flex;
    flex-direction: column;
    max-width: 10vw;
    gap: auto;
  }

  .skyscraperad {
    padding:1vw;
  }

    /* BODY TEXT STYLES */
  .bodytext{
      margin-left:10vw;
      margin-right:10vw;
      flex-grow: 2;
      font-family:"Arial Narrow";
      font-size:1.5em;
      color: violet;
      background-color:blue;
      padding:20px;
      padding-top:0px;
      padding-bottom:0px;
      border:5px groove violet;
  }

  .credits { 
      font-family:"Arial Narrow";
      font-size:1.2em;
      text-align: center;
      color:blue;
      padding-bottom: 5vh;
      margin-left:20vw;
      margin-right:20vw;
      
    }

  a{
    color:rgb(255,0,255);
    
  }
  a visited{
    color:inherit;
  }
  a:hover {
      color: rgb(255,0,0);
      animation: blink 0.1s infinite;
  }
  a:active {
      color: inherit;
  }

::selection{
  background-color: red;
}

  .mallname{
      font-family: 'Brush Script MT';
      transform: rotate(-7deg);
      display: inline-block;
      font-size:1.1em;
      position:relative;
      top:-5px;
      line-height: 1em
    }
    #author {
    font-family:"Snell Roundhand";
      font-size:1em;
      background-color: rgb(0,255,255);
    }
    #date {
      font-family:"Bradley Hand";
      font-size:1em;
      background-color: rgb(0,255,255);
    }
    #source{
      font-family: 'Comic Sans MS';
      font-size: .9em;
      background-color: rgb(0,255,255);    
    }

  /* IMAGES */
  .gif{

  }
  .gif:hover{
    animation: blink 0.1s infinite;
  }


@media screen and (max-width: 768px) {
  .body{
    flex-direction: column;
  }
  .bodycontainer {
    flex-direction: column; /* Change to a single column layout */
  }
  .skyscraperads {
  order:1;
 }
 .skyscraperad {
  order:1;
  display: none;

 }



